<div class="container">
    <div class="bell">
        <mat-icon class="icon">notifications_none</mat-icon>
    </div>

    <p class="label">Audit</p>

    <mat-form-field class="form-field" appearance="fill">
        <input matInput placeholder="Area/department" value="">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
        <input matInput placeholder="Auditor" value="">
    </mat-form-field>
    <p class="fake-btn">+ Add more</p>

    <p class="title"> Select Audit Checklist</p>
    <mat-form-field class="form-field" appearance="fill">
        <input matInput placeholder="Audit Checklist" value="">
    </mat-form-field>

    <p class="title"> Documents</p>
    <div class="dragndrop">
        <mat-icon class="icon">folder</mat-icon>
        <div>Drag your documents</div>
    </div>

    <div class="item-list">
        <div class="list-item">
            <mat-icon class="icon">folder</mat-icon>
            <div class="item">Document SOP 124</div>
        </div>
        <div>
            12.2.2022
        </div>
    </div>

    <div class="item-list">
        <div class="list-item">
            <mat-icon class="icon">folder</mat-icon>
            <div class="item">Document 12345647 - internal audit</div>
        </div>
        <div>
            12.2.2022
        </div>
    </div>

</div>
